@page "/SelectListWorkTask"
<h2>Таблица товаров:</h2>
<div class="divTable">
    <table>
        <tr><th class="Sender">Кто отправил</th><th class="Pers">Кому отправил</th><th class="Mes">Сообщение</th></tr>
        @if (workTasks.Count <= 10)
        {
            int i = 0;
            foreach (var work in workTasks)
            {
                <tr><th class="Sender">@SenderStr[i]</th><th class="Pers">@PersonStr[i]</th><th class="Mes">@GetMes(work.message)</th><th><button class="btSelect" @onclick="(e=>Select(work))">Выбрать</button></th></tr>
                i++;
            }
        }
        else if (workTasks.Count - pagee * 10 < 10)
        {
            int i = pagee * 10;
            int j = 0;
            foreach (var work in workTasks)
            {
                if (i < workTasks.Count && j >= i)
                {
                    <tr><th class="Sender">@SenderStr[i]</th><th class="Pers">@PersonStr[i]</th><th class="Mes">@GetMes(work.message)</th><th><button class="btSelect" @onclick="(e=>Select(work))">Выбрать</button></th></tr>
                    i++;
                }
                j++;
            }
        }
        else
        {
            int i = pagee * 10;
            int j = 0;
            foreach (var work in workTasks)
            {
                if (i < (pagee + 1) * 10 && j >= i)
                {
                    <tr><th class="Sender">@SenderStr[i]</th><th class="Pers">@PersonStr[i]</th><th class="Mes">@GetMes(work.message)</th><th><button class="btSelect" @onclick="(e=>Select(work))">Выбрать</button></th></tr>
                    i++;
                }
                j++;
            }
        }
    </table>
    <a style="float:left;font-size:22px;margin-right:140px;">@(pagee + 1) / @Math.Ceiling((float)workTasks.Count / 10.0)</a>
    <br />
    @if (pagee != Math.Ceiling((float)workTasks.Count / 10.0) - 1 && workTasks.Count!=0)
    {
        <button class="btMuv" @onclick="(u=>muvPage(1))">На следующую страницу</button>
    }
    @if (pagee != 0)
    {
        <button class="btMuv" @onclick="(u=>muvPage(-1))">На предыдущую страницу</button>
    }
    <button class="Back" @onclick="Back">Отмена</button>
</div>